body {
    background-color: #000; 
    color: #fff; 
    font-family: Gt walsheim pro,sans-serif;
}

.staff-card{
    background-color: #000;
}
.card {
    background-color: #2c2d2f;
    color: #fff;
}
h1, h2, h3, h4, h5{
    font-family: Gt walsheim pro,sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.form-control {
    background-color: black;
    color: white;
  }
  
  .form-control::placeholder {
    color: white;
  }


.theme-button{
    font-size: 15px;
    padding: 10px 25px;
    background: linear-gradient(90deg, #fff 50%, #212529 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    border: 2px solid #eee;
    display: block;
}

.theme-button:hover{
    background-position: left bottom;
    color: black;
}

.img-fluid { 
    border-radius: 20px;
}

.blog-card-content {
    background-color: #f0f0f0;
  }
  
  .brands-experiences-card:hover {
    box-shadow: 0 4px 10px rgba(253, 253, 253, 0.976);
    transform: scale(1.02);
}
/*
Header CSS START
////////////////////////////
*/
.navbar {
    height: 80px;
}
::placeholder {
    font-size: 16px;
}
.form-check label{
    font-size: 15px;
}
.responsive-logo{
    width: 800px;
}

.w-res-50{
    width: 50%;
}

.w-res-75{
    width: 75%;
}

.accordion-button{
    font-size: 1rem;
}
.accordion-body strong{
    font-size: .9rem;
}

@media (max-width: 1200px) {
    /* body {
      padding-top: 5rem;
    } */
    .responsive-logo{
        width: 250px;
    }
    .bg-mob-white{
        background: white !important;
    }
    .dropdown-menu.scrollable {
        height: 23rem;
        overflow-y: auto;
    }
    .w-res-50{
        width: 60%;
    }
    .w-res-75{
        width: 65%;
    }
    
}


@media (max-width: 480px) {
    /* body {
      padding-top: 5rem;
    } */
    .responsive-logo{
        width: 200px;
    }
    .navbar { position: sticky; top: 0; z-index: 1000; height: 70px !important; }

    .bg-mob-white{
        background: white !important;
    }

    .dropdown-menu.scrollable {
        height: 23rem;
        overflow-y: auto;
      }

      ::placeholder {
        font-size: 14px;
      }
    .w-res-50{
        width: 100%;
    }
    .w-res-75{
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }

    /* New STYLES for mobile */
    .theme-button{
        font-size: 15px;
        padding: 5px 20px;
        background: linear-gradient(90deg, #fff 50%, #212529 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        text-decoration: none;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background 0.2s ease;
        border: 2px solid #eee;
        display: block;
    }
   
}






.hero{
    background-image: url("http://127.0.0.1:8000/asserts/dots-back.png");
    background-color: #F5F6FE;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 300px;
    /*width: 100vw;*/

}

a{
    text-decoration: none;
}


.staff-form-color{
    background-color: #F5F6FF;
}

/*Verified ---*/

.contact-us-custom-button:hover{
    background-position: left bottom;
    color: #000;
}

.contact-us a{
    text-decoration: none;
}

.bg-lighter-blue{
    background: #F5F6FE;
}

.bg-navi{
    background: #212240;
}

.common-title {
    font-size: 16px;
    font-weight: bold;
    color:#000000;
}
.common-title-nav{
    font-size: 16px;
    font-weight: bold;
    color:#252D72;
}

.header-icon {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}

.elementor-icon {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.elementor-icon:hover{
    color: #878AE8;
    border-bottom: solid 3px #878AE8;
    padding-bottom: 5px;

}
.nav-link-item:hover{
    background: #878AE8;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
}

.icon-container {
    display: inline-block; /* Ensures the container wraps the icon */
    border-radius: 50%; /* Use 50% for a circle or specify a value for rounded corners */
    padding-top: 8px; /* Optional: Add padding to control the size of the rounded icon */
    padding-bottom: 5px; /* Optional: Add padding to control the size of the rounded icon */
    background-color: #F87D5E; /* Optional: Add a background color to the rounded icon */
    overflow: inherit;
    width: 40px;
    align-items: center;
}

.fa-1-5x{
    font-size: 1.5em;
}

.pl-1 {
    padding-left: 5px;
}
.pl-20 {
    padding-left: 20px;
}

.get-proposal-button{
    height: 50px;
    font-weight: 600;
    background-color: #30445C;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.get-proposal-button-text {
    color:white;
    margin-left: 30px;
    margin-right: 30px;

}
.get-proposal-button:hover {
    background-color: #F87D5E;
    color: white;
}
.image-container {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.image-container img {
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.image-container:hover img {
    transform: scale(0.9) rotate(5deg); /* Scale up and tilt the image by 5 degrees on hover (adjust as needed) */
    transform-origin: center; /* Scale the image by 10% on hover (adjust as desired) */
}

.font-weight-bold{
    font-weight: bold;
}

.rotate-icon {
    transition: transform 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
}

.rotate-icon:hover {
    transform: rotate(360deg);
}

.nav-link-item:hover i{
    transform: rotate(360deg);
}

/*
////////////////////////////
Header CSS END
*/


/*
Footer CSS END
////////////////////////////
*/

.hover-animation-p0:hover {
    border-radius: 10px;
    background-color: #F87D5E;
    overflow: hidden;
}
.hover-animation:hover {
    padding: 3px;
    background-color: #F87D5E;
    border-radius: 10px;

}
.hover-animation{
    text-decoration:none;
}
.text-orange{
    color: #F87D5E;
}
.text-orange-var-one{
    color: #F77C5F;
}
.text-green{
    color: #06CBB2;
}
.text-purple{
    color: #6B49F5;
}
.text-navi{
    color: #162183;
}

.bullets {
    list-style-type: square;
}

.fade-up {
    opacity: 0;
    transform: translateY(20px); /* Adjust the distance the div should fade up */
    transition: opacity 1s, transform 1s;
}

.fade-up.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/*
Testimonials
*/
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: transparent;
    border: 1px solid #777AF1;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #777AF1;
    border: 1px solid #777AF1;
}
@media only screen and (max-width: 479px){
    .testimonial .description{
        padding: 20px;
        font-size: 16px;
    }
    .testimonial .testimonial-profile{ padding: 10px; }
    .testimonial .title{ font-size: 16px; }
    .testimonial .post{ font-size: 13px; }
}

/*
Partner slider CSS
*/
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

li.borderless {
    border-top: 0 none;
}


/*
CASE STUDIES HOME
*/
.hor-row{
    border: none;
    border-top: 1px solid #E7E7E7; /* You can adjust the color and thickness */
    margin: 20px 0; /* Adjust the margin as needed */

}

.theme-color{
    color: #777AF2;

}

.theme-color2{
    color: #445781;
}


.news-update-custom-button{
    font-size: 15px;
    background: linear-gradient(90deg, #21233F 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-color:#777AF2;
    border: none;
    color: #777AF2;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
    border: 1px solid #777AF2;
    display: block;
}
.news-update-custom-button:hover{
    background-position: left bottom;
    color: #ffffff;
}

.pill-button {
    display: inline-block;
    margin-left: 0;
    margin-top: 7px;
    padding: 3px 30px;
    background-color: #E7E7E7;
    color: #777AF2;
    border-radius: 50px; /* Makes it pill-shaped */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.pill-button:hover {
    background-color: #777AF2;
    color: #E7E7E7;
}


.dot-before::before {
    content: '\2022'; /* Unicode character for a bullet (dot) */
    margin-right: 5px; /* Adjust the space between the dot and text */
}


.font-weight-bolder-200{
    font-weight: 600;
}


/*
Circular progress bar
*/

.block {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-radius: 50%;
    background-color: #21233F;
    box-shadow: 0 0 5px 3px #FFFFFF;
}

.box::before {
    position: absolute;
    content: '';
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    border-radius: 50%;
    border: 5px solid #eeeeee;
}

.box .number span {
    color: #e9e9e9;
}

.box .number .num {
    font-size: 35px;
    font-weight: bold;
}

.box .number .sub {
    font-size: 20px;
}

.box .title {
    font-size: 15px;
    color: #FFFFFF;
}

.dots {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 2s transform, 2s opacity ease;
}

.dots::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 50%;
    border-radius: 50%;
    background-color: #21233F;
    box-shadow: 0 0 5px 2px #777AF2;
    transform: translateX(-50%);
}

.svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: none;
    transform: rotate(-90deg);
}

.circle {
    stroke: #777AF2;
    stroke-width: 10px;
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 2s stroke-dashoffset;
}

.star-rating {
    font-size: 20px;
    color: #777AF2;
}

.custom-bg{
    background-color: #f5f6ff;
}


.check-card {
    border-radius: 50px;
    transition: border-color 0.3s ease-in-out;
}

.check-card:hover {
    border-color: #ff0000;
}

.custom-bg{
    background-color: #F5F6FF;
}

.buisness-launch i{
    color: rgb(28, 221, 28);
}

.card-icon-cross{
    background-color: #e0f0fd;
    width: 70px; height: 70px; margin-bottom: 5px;
}

.service-card-body a{
    text-decoration: none;
    font-weight: bold;
    color: #23277c;
}
.service-card-body a:hover{
    color: #878AE8;
    border-bottom: solid 3px #878AE8;
    padding-bottom: 5px;

}

.limited-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    max-height: 4.5em; /* Adjust the height according to your font size and line height */
}
.limited-one-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    max-height: 2.5em; /* Adjust the height according to your font size and line height */
}

.read-more {
    cursor: pointer;
    color: blue;
}

.caseStudiesListDiv h2{
    font-size: 25px;
}


.card-haading-data a{
    color: #212240;
}
