

.staff-card{
    background-color: #000;
}
.card {
    background-color: #2c2d2f;
    color: #fff;
}
h1, h2, h3, h4, h5{
    font-family: 'Gt walsheim bold';
    font-weight: 400;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.form-control {
    background-color: black;
    color: white;
    border-radius: 30px;
  }

  .form-control::placeholder {
    color: white;
  }


.theme-button{
    font-size: 13px;
    padding: 7.5px 25px;
    background: linear-gradient(90deg, #fff 50%, #21252900 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    border: 2px solid #eee;
    display: block;
    font-family: 'Gt walsheim bold';
}


.theme-button:hover{
    background-position: left bottom;
    color: black;
}

.theme-button-v1{
    font-size: 15px;
    padding: 11px 15px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 0px;
    font-family: 'Gt walsheim bold';
}
.theme-button-v1:hover{
    background-color: #212529;
    border: 1px solid #eee;
    border-radius:50px;
}


.blog-card-content {
    background-color: #f0f0f0;
  }

  .brands-experiences-card:hover {
    box-shadow: 0 4px 10px rgba(253, 253, 253, 0.976);
    transform: scale(1.02);
}

::placeholder {
    font-size: 16px;
}
.form-check label{
    font-size: 15px;
}
.responsive-logo{
    width: 800px;
}

.w-res-50{
    width: 50%;
}

.w-res-75{
    width: 75%;
}

.accordion-button{
    font-size: 1rem;
}
.accordion-body strong{
    font-size: .9rem;
}

.show_mobile_screen {
    display: none;
}

.show_on_pro {
    display: none;
}

@media (max-width: 1024px) and (max-height: 1366px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
    .show_mobile_screen {
        display: inline;
    }
    .show_on_pro {
        display: inline;
    }
}

@media (max-width: 1200px) {
    /* body {
      padding-top: 5rem;
    } */
    .responsive-logo{
        width: 250px;
    }
    .bg-mob-white{
        background: white !important;
    }
    .dropdown-menu.scrollable {
        height: 23rem;
        overflow-y: auto;
    }
    .w-res-50{
        width: 60%;
    }
    .w-res-75{
        width: 100%;
    }


}

@media (max-width: 990px) {

    .show_mobile_screen {
        display: inline;
    }
    .show_on_pro {
        display: none;
    }
}

@media (max-width: 480px) {
    /* body {
      padding-top: 5rem;
    } */
    .responsive-logo{
        width: 200px;
    }

    .bg-mob-white{
        background: white !important;
    }

    .dropdown-menu.scrollable {
        height: 23rem;
        overflow-y: auto;
      }

      ::placeholder {
        font-size: 14px;
      }
    .w-res-50{
        width: 100%;
    }
    .w-res-75{
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }

    /* New STYLES for mobile */
    .theme-button{
        font-size: 13px;
        padding: 5px 20px;
        background: linear-gradient(90deg, #fff 50%, #21252900 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        text-decoration: none;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background 0.2s ease;
        border: 2px solid #eee;
        display: block;
        font-family: 'Gt walsheim bold';

    }
    .show_mobile_screen {
        display: inline;
    }
    .show_on_pro {
        display: none;
    }

    h1, h2, h3, h4, h5{
        font-family: 'Gt walsheim bold';
        font-weight: 400;
        color: #fff;
        margin-top: .6rem;
        margin-bottom: .4rem;
    }

}

@media (max-width: 375px) {
    .hide-on-mini {
        display: none;
    }
    .show_on_pro {
        display: none;
    }
}

.dropdown-menu {
    font-size: 1.05rem;
}
.dropdown-item:hover {
    text-decoration: none;
    background-color: #000000;
    border-radius: 10px;
}

.ancor-hover{
    text-decoration: none;
    padding:10px;
    color: #fff;
}
.ancor-hover:hover{
    padding:5px;
    margin:5px;
    background-color: #000000;
    border-radius: 10px;
}

p {
    font-size: 1.15rem;
}

.font-b{
    font-family: "Gt walsheim bold";
}

.hero{
    background-image: url("http://127.0.0.1:8000/asserts/dots-back.png");
    background-color: #F5F6FE;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 300px;
    /*width: 100vw;*/

}

/*
Header CSS START
////////////////////////////
*/
.nav-link {
    font-family: 'Gt walsheim bold';
    color: white;
}
a{
    text-decoration: none;
}

.element-with-filter {
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}


/*
Header CSS END
////////////////////////////
*/
